input/*
output_text/*
installer/*/output/
__pycache__/
__pycache__/*
build_venv/
.venv/
dist/
*.egg-info/
external/*
build/
bin/
models/
.vscode/
*.spec
*.tar
nuitka-crash-report.xml
speech_video.mp4
